.wy-side-nav-search, .wy-nav-side {background: 			#00302d		;}

.wy-side-nav-search, .wy-nav-top {background: #00302d	;}   


.wy-nav-side {font-weight: bold;}


.wy-nav-content {max-width: 1200px !important;}

@import url("default.css");span.caption-text {color: #yellow;}


a:visited {color: 	#yellow	;}



