.wy-side-nav-search, .wy-nav-side {background: 			#FFB6C1			;}

.wy-side-nav-search, .wy-nav-top {background: 		#87CEFF	;}


.wy-nav-content {max-width: 1000px;}


@import url("default.css");span.caption-text {color: black;}

a:visited {color: black;}


