.wy-side-nav-search, .wy-nav-side {background: 			midnightblue		;}

.wy-side-nav-search, .wy-nav-top {background: #87CEFF;}


.wy-nav-side {font-weight: bold;}

.wy-nav-content {max-width: 1200px !important;}

@import url("default.css");span.caption-text {color: black;}

a:visited {color: 	#black	;}
